.pantalla {
    background-color: #1a1a1a;
    width: 80%;
    margin: 20px auto;
    border-top-left-radius: 20px;
    display: flex;
    ;
    video {
        border-top-left-radius: 20px;
        ;
        height: 60%;
        max-height: 620px;
    }
    .detalles {
        color: white;
        padding: 50px;
        .select-dropdown {
            color: white;
            width: 200px;
        }
    }
}