.pantalla {
    background-color: #1a1a1a;
    width: 90%;
    margin: 20px auto;
    border-top-left-radius: 20px;
    display: flex;
    ;
    img {
        border-top-left-radius: 20px;
        ;
        height: 100%;
    }
}